* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(247, 248, 226);
}

h1 {
  color: rgb(53, 22, 8)
}

.center {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem
}

form {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

select {
  max-width: 35%;
  margin: auto;
  padding: .3rem 0;
}

button {
  padding: .3rem;
  background-color: white;
  border: 2px solid rgb(94, 41, 16);
  border-radius: .5rem;
}

.main {
  border: 6px solid rgb(94, 41, 16);
  border-radius: 1.5rem;
  background: rgb(255, 236, 224);
  margin: 3rem auto;
  padding: 1rem;
  max-width: 400px;
}

input {
  padding: .1rem .3rem;
  font-size: 1.1rem;
  max-width: 50%;
}

ul {
  list-style: none;
}

ul li {
  background-color: rgb(53, 22, 8);
  padding: .2rem .5rem;
  margin: .5rem;
  border-radius: .5rem;
}

.link {
  text-decoration: none;
  color: antiquewhite;
  font-weight: 700;
  font-size: 1.2rem;
  display: block;
}

ul li:hover {
  background-color: rgb(94, 41, 16);
}